.text-left {
    text-align: left;
}

#gallery-pokemon-content {
    margin: 5rem;
}

.gallery-pokemon-data {
    image-rendering: pixelated;
    font-size: 0.75rem;

    padding: 1rem;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display:flex;
}

.gallery-pokemon-data-single {
    text-transform: capitalize;
    border: 1px solid rgba(0,0,0,0.5);
    border-radius: 1%;
    padding: 1rem;
    margin: 1rem;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display:flex;
}

.gallery-pokemon-data-single img {
    margin: 2rem;
}

.stat-table td {
    padding: 0.5rem;
}

.pikachu {
    width: 16px;
    height: 16px;
    float: right;
    margin-left: 0.5rem;
    margin-top: 0.25rem;
    background: url("https://raw.githubusercontent.com/4444/pocketmonsters-web-app/main/resources/pika_0.png");
}

button:hover .pikachu {
    background: url("https://raw.githubusercontent.com/4444/pocketmonsters-web-app/main/resources/pika_1.png");
}

/* Pokemon type color effects */
.normal { text-shadow: 0 0 8px lightgray; }
.fire { text-shadow: 0 0 8px orangered; }
.water { text-shadow: 0 0 8px cornflowerblue; }
.electric { text-shadow: 0 0 8px yellow; }
.grass { text-shadow: 0 0 8px lawngreen; }
.ice { text-shadow: 0 0 8px lightcyan; }
.fighting { text-shadow: 0 0 8px crimson; }
.poison { text-shadow: 0 0 8px purple; }
.ground { text-shadow: 0 0 8px sandybrown; }
.flying { text-shadow: 0 0 8px deepskyblue; }
.psychic { text-shadow: 0 0 8px deeppink; }
.bug { text-shadow: 0 0 8px lightgreen; }
.rock { text-shadow: 0 0 8px tan; }
.ghost { text-shadow: 0 0 8px darkslateblue; }
.dragon { text-shadow: 0 0 8px indigo; }
.dark { text-shadow: 0 0 8px darkgray; }
.steel { text-shadow: 0 0 8px red; }
.fairy { text-shadow: 0 0 8px violet; }
