<div class="d-flex flex-column min-vh-100 justify-content-center align-items-center">
    <div class="toolbar">
        <app-audio-player></app-audio-player>
    </div>
    <div class="main-content">
        <div #gameScreen id="game-screen">
            <div #mapGrid id="map-grid" [ngStyle]="{'filter': (inEncounter) ? 'blur(1px)' : 'none'}">
                <app-player class="map-character"></app-player>
            </div>
            <div *ngIf="isInMenu || !hasStarted" class="overlay-white"></div>
            <div #encounterContainer *ngIf="inEncounter" class="encounter-container">
                <span *ngIf="encounterName" class="encounter-text">A wild {{ encounterName }} appeared!</span>
                <div *ngIf="encounterImageUrl" class="encounter-pokemon" [style.background]="encounterImageUrl"></div>
                <button [disabled]="isProcessing" class="btn btn-light encounter-btn" (click)="catchMon()">
                    Catch
                    <div class="pokeball"></div>
                </button>
                <button [disabled]="isProcessing" class="btn btn-light encounter-btn" (click)="finishBattle()">Run away</button>
            </div>
            <div *ngIf="!hasStarted" class="pause-overlay">
                <button class="btn btn-light" (click)="startGame()">
                    Press Start
                </button>
            </div>
        </div>
        <div id="details-screen">
            <button class="btn btn-light" (click)="loadMap1()">Load map 1</button>
            <button class="btn btn-light" (click)="loadMap2()">Load map 2</button>
            <button class="btn btn-light" (click)="startBattle()">BATTLE!</button>
            <button class="btn btn-light" (click)="finishBattle()">Finish</button>
        </div>
    </div>
</div>