#page-content {
    background-color: #70c8a0;
    background: url("https://raw.githubusercontent.com/4444/pocketmonsters-web-app/main/resources/bg_grass.png");
    image-rendering: pixelated;
    background-size: 640px auto;
}

.main-content {
    position: relative;
    width: 640px;
    height: 480px;
    padding: 0;
    margin: 0;
    font-size: 0;
}

#game-screen {
    image-rendering: pixelated;
    width: 100%;
    height: 100%;
}

.overlay-white {
    image-rendering: pixelated;
    display:flex;
    justify-content: center;
    align-items:center;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(255,255,255);
    background: url("https://raw.githubusercontent.com/4444/pocketmonsters-web-app/main/resources/background_A.png");
    background-size: cover;
    z-index: 1;
}

.overlay-transparent {
    display:flex;
    justify-content: center;
    align-items:center;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(255,255,255, 0);
    z-index: 1;
}

.pause-overlay {
    display:flex;
    justify-content: center;
    align-items:center;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    z-index: 1;
}

.btn-action {
    font-size: 0.5rem;
    margin-right:0.5rem;
}

#map-grid {
    position: relative;
}

.map-character {
    position: absolute;
    width: 32px;
    height: 32px;
    z-index: 1;
    background: url("https://raw.githubusercontent.com/4444/pocketmonsters-web-app/main/resources/player_sheet_32.png") -32px 0px;
}

.map-tile {
    position: absolute;
    width:32px;
    height:32px;
    z-index: 0;
    background: url("https://raw.githubusercontent.com/4444/pocketmonsters-web-app/main/resources/gsc_tileset_1.png") 0px -64px;
}

.game-instructions {
    position: absolute;
    top: 10rem;
    font-size: 1rem;
    color: #000;
    margin: 0;
}

/* Solid tiles are not clickable by default */
.map-tile:hover {
    opacity: 1;
    cursor: not-allowed;
}

.map-tile[tiletype="0"]:hover,
.map-tile[tiletype="2"]:hover,
.map-tile[tiletype="3"]:hover {
    opacity: 0.5;
    cursor: pointer;
}

.encounter-container {
    display:flex;
    justify-content: center;
    align-items:center;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(255,255,255, 0);
    z-index: 1;
}

.encounter-text {
    position: absolute;
    top: 5rem;
    text-transform: uppercase;
    font-size: 1rem;
    color: white;
}

.encounter-text.capture-message {
    color: rgb(24,220,24);
}

.encounter-text.capture-confirmation {
    color: white;
    top: 7.5rem;
    font-size: 0.75rem;
}

.encounter-btn {
    position: relative;
    top: 10rem;
    margin: 1rem;
    text-transform: uppercase;
}

.encounter-pokemon {
  position: absolute;
  width: 96px;
  height: 96px;
  transform: scale(2);
  filter: drop-shadow(0 0 0.25rem #fff);
}

.game-logo {
    width: 320px;
    top: 2.5rem;
    display:inline-block;
    position: absolute;
}

.game-logo img {
    width: 100%;
}

.game-logo-text {
    float: left;
    font-size: 1rem;
    color: #fff;
    text-shadow: 1px 1px #000;
    width: 50%;
    text-align: center;
}

.game-credits {
    bottom: 1rem;
    left: 1rem;
    position: absolute;
    float: left;
    font-size: 0.5rem;
    color: #fff;
    text-shadow: 1px 1px #000;
}

.game-btn-start {
    bottom: 25%;
    position: absolute;
    text-transform: uppercase;
}

.pokeball {
    width: 16px;
    height: 16px;
    float: left;
    transform: scale(2);
    margin-right: 0.5rem;
    margin-top: 0.25rem;
    background: url("https://raw.githubusercontent.com/4444/pocketmonsters-web-app/main/resources/pokeball_small.png");
}

.pikachu {
    width: 16px;
    height: 16px;
    float: left;
    margin-right: 0.5rem;
    margin-top: 0.25rem;
    background: url("https://raw.githubusercontent.com/4444/pocketmonsters-web-app/main/resources/pika_0.png");
}

button:hover .pikachu {
    background: url("https://raw.githubusercontent.com/4444/pocketmonsters-web-app/main/resources/pika_1.png");
}