#trainer-name {
    position: relative;
    top: 1rem;
}

#trainer-icon {
    width: 32px;
    height: 32px;
    float: left;
    margin-right: 0.5rem;
    margin-top: 0.25rem;
    background: url("https://raw.githubusercontent.com/4444/pocketmonsters-web-app/main/resources/player_sheet_32.png") -32px 0px;
}